/* ------------------- */
/* Estilos generales */

body{
    text-align: center;
}

h1{
    text-align: center;
}

.seccion{
    border: 2px solid #999;
}

/* Texto explicativo */
.nota{
    font
}